<div class="container">
    <nav class="mb-1 row">
        <div class="nav-contents">        
          <button class="nav-toggle">
            <i class="fas fa-bars"></i>
          </button>
          <ul class="links">
            <li>
              <a href="/vnpit/en">For Vietnamese</a>
            </li>
            <li>
              <a href="/">For Foreigners</a>
            </li>                        
          </ul> 
        </div>       
    </nav>    
</div>